:root {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

header img {
  width: 9rem;
}

.greeting {
  color: #292929;
  font-style: italic;
}

.container-employee-dept {
  display: grid;
  padding: 0 3rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}

.container-employee-dept > article {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  border: 1px solid #c1c0c0;
}

article h2 {
  margin: 0;
  padding: 0.6rem 0;
  border-bottom: 1px solid #c1c0c0;
}

.container-employee-dept ul {
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

footer p {
  text-align: center;
}
